[Unit]
Description=LEDScape UDP Receiver

[Service]
WorkingDirectory=/root/rivers-drumbar/LEDscape/
ExecStart=/root/rivers-drumbar/LEDscape/run.sh
KillMode=control-group

[Install]
WantedBy=multi-user.target